body{
  background-color: greenyellow;
}
.title{
  background-color: yellow;
}
.card{
  border: 1px solid rgb(239, 0, 0) ;
  img {
      width: 150px;
      height: 150px;
    text-align: justify;}
    align-items: center;

}
.location_header{
  display: block;
}
.locations{
  display: flex;
  flex-direction: row;

}  
.location_header{
  text-align: center;
}
.header_two{
  position: relative;
}
.top{
  position: absolute;
top: 0;
left: 0;
width: 100%;
background-color: rgba(8, 114, 22, 0.583);
color: rgb(208, 241, 20);
text-align: center;
padding: 10px;
}

.image{
  object-fit: contain;
}

.description{
  text-align: center;
}